<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
	
<head>
<meta charset="ISO-8859-1">
<title>User Comments</title>
</head>
<body>
	<section>
		<div class="container">
			<h3 class="text-center">Comments</h3>
			 <div th:if="${session.msg}"
				 class="text-center"
				role="alert">

				<h4 th:text="${session.msg}"></h4>
				<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
			</div> 

	<div class="container-fluid">
	</div>

 		<!-- loop for each comment card the user makes -->
			<div class="col-md-12 mt-3" th:each="c:${Comments}">
				<div class="card paint-card">
					<div class="card-body">
						<div class="text-center">
							<img alt="" th:src="@{/img/push-pin.png}"
								style="width: 50px; height: 50px;">
						</div>

						<h5>[[${c.topic}]]</h5>
						<p>
							[[${c.content}]] <br> <br> <span class="font-weight-bold">Upload
								Date :</span> [[${c.updateDate}]]

						</p>
						<div class="text-center">
						<a th:href="@{'/user/editNotes/'+${c.id}}" class="btn btn-primary btn-sm">Edit</a>
	
						 <a th:href="@{'/user/deleteNotes/'+${c.id}}" class="btn btn-danger btn-sm ml-2">Delete</a>
						 
						</div>
					</div>
				</div>
			</div>
		
		<!-- counts the total number of comment cards per page -->	
			 <div class="row p-4">
				<div class="col-md-4">Total Elements : [[${totalElement}]]</div>
				<div class="col-md-6">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
					
					<!-- functionality for left arrow -->	
						<li th:classappend="${pageNumber==0} ? 'disabled':' '" class="page-item">
							<a class="page-link" th:href="@{'/user/viewNotes/'+${pageNumber-1}}"
							   aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a>
						</li>
				
					<!-- loop for page number display -->							
						<li th:each = "i:${#numbers.sequence(1,totalPage)}" th:classappend="${pageNumber+1==i} ? 'active' : ''" class="page-item">
							<a th:href="@{'/user/viewNotes/' + ${i-1}}"  href="#" class="page-link" >[[${i}]]</a>
						</li>
					
					<!-- functionality for right arrow -->	
						<li th:classappend="${pageNumber+1==totalPage} ? 'disabled':' '" class="page-item">
							<a class="page-link" th:href="@{'/user/viewNotes/'+${pageNumber+1}}" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a>
						</li>
							
						</ul>
					</nav>
				</div>
			</div>

		</div>

	</section>
</body>
</html>