<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Terms and Conditions</title>

<style type="text/css">
* {
  box-sizing: border-box;
}

/* Create two unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}
</style>
</head>
<body>


<h2>Terms and Conditions</h2>

<div class="row">
  <div class="column left">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet aliquam id diam maecenas ultricies mi eget. Semper quis lectus nulla at volutpat diam ut venenatis. Tempor orci dapibus ultrices in iaculis nunc sed augue. Diam maecenas sed enim ut sem viverra aliquet eget. Ipsum dolor sit amet consectetur adipiscing elit. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque. Accumsan in nisl nisi scelerisque eu ultrices. Quam nulla porttitor massa id neque aliquam. Tempor id eu nisl nunc mi. Ac tortor vitae purus faucibus. Ac feugiat sed lectus vestibulum mattis.
Adipiscing elit pellentesque habitant morbi. Pretium aenean pharetra magna ac placerat vestibulum lectus. Ipsum a arcu cursus vitae congue mauris rhoncus aenean vel. Molestie nunc non blandit massa enim nec dui nunc. Libero id faucibus nisl tincidunt eget. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Blandit volutpat maecenas volutpat blandit aliquam etiam erat. Non consectetur a erat nam at lectus. Et ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Lectus sit amet est placerat in egestas. Nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Donec pretium vulputate sapien nec sagittis aliquam. Sodales ut etiam sit amet nisl purus. Consectetur a erat nam at lectus urna duis.</p>
  </div>
  <div class="column right">
    <p>Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum. Nibh mauris cursus mattis molestie a iaculis at. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla. Volutpat est velit egestas dui id ornare arcu odio ut. Cum sociis natoque penatibus et. Quisque non tellus orci ac auctor augue mauris. Gravida cum sociis natoque penatibus et. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis. Nunc mattis enim ut tellus elementum sagittis. Potenti nullam ac tortor vitae. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit amet. Quam elementum pulvinar etiam non quam lacus suspendisse. Tempor id eu nisl nunc mi ipsum faucibus.
Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras. Aliquet nec ullamcorper sit amet. Non enim praesent elementum facilisis leo vel fringilla. Dignissim enim sit amet venenatis urna cursus. Interdum velit euismod in pellentesque massa placerat duis. Senectus et netus et malesuada. Quis viverra nibh cras pulvinar. Et pharetra pharetra massa massa ultricies mi quis hendrerit dolor. Imperdiet massa tincidunt nunc pulvinar sapien et. Aliquam sem fringilla ut morbi tincidunt augue interdum. Sit amet est placerat in egestas. Convallis posuere morbi leo urna. Eget arcu dictum varius duis at consectetur lorem donec. Scelerisque in dictum non consectetur. Tincidunt vitae semper quis lectus nulla at volutpat. Habitant morbi tristique senectus et netus et malesuada fames ac. Nullam eget felis eget nunc lobortis mattis aliquam faucibus. Enim eu turpis egestas pretium aenean pharetra magna ac. Massa eget egestas purus viverra accumsan in nisl nisi scelerisque.</p>
  </div>
</div>

	<script type="text/javascript"
     th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
  <script type="text/javascript"
     th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>


</body>
</html>